.THIS {
  
} 
.THIS.socialHi{
    text-align : centre !important;
    font-family : lato !important;
    font-size : 22px !important;
    margin-top : 8% !important;
}

.THIS.preChatFormInfo{
    font-family : lato !important;
    margin-top : 2% !important;
    text-align: centre !important;
    font-size: 16px !important;
    margin-left:9% !important;
    margin-right:10% !important;
}

.THIS .LoginButton{
    outline:none;
    margin-top : 4% !important;
    text-align: centre;
    font-size: 16px;
    background-color: #0096A4;
    border-radius: 6px;
    width: 243px;
    height: 40px;
    -webkit-text-fill-color: white;
}

.THIS.selectOption{
    margin-left:12% !important;
    margin-right:12% !important;
    text-align: centre !important;
    font-size: 16px !important;
    font-family : lato !important;
     margin-top : 8% !important;
}
.THIS .otherLink{
    outline:none;
    border: none;
    text-decoration :underline;
    text-align: centre;
    font-size: 16px;
    height:30px;
    -webkit-text-fill-color: #0096A4;
}