.THIS {
}
.THIS.socialHi{
    text-align : centre !important;
    font-family : lato !important;
    font-size : 18px !important;
    margin-top : 4% !important;
}

.THIS.linksInfo{
    font-family : lato !important;
    margin-top : 2% !important;
    font-size: 14px !important;
    margin-left: 11% !important;
    margin-right:9% !important;
}
.THIS .contentsLinks{
    outline:none;
    margin-top : 2% !important;
    text-align: centre;
    font-size:16px;
    background-color: #0096A4;
    border-radius: 5px;
    width: 260px;
    height: 37px;
    -webkit-text-fill-color: white;
}

.THIS.juniperCustomers{
    margin-left:10% !important;
    margin-right:13% !important;
    text-align: centre !important;
    font-size: 14px !important;
    font-family : lato !important;
    margin-top : 5% !important;
}
.THIS.VARID{
    margin-left:11% !important;
    margin-right:12% !important;
    text-align: centre !important;
    font-size: 14px !important;
    font-family : lato !important;
    margin-top : 5% !important;
}
.THIS .agentChatLink{
    outline:none !important;
    border: none !important;
    text-decoration :underline !important;
    text-align: centre !important;
    height:30px !important;
    -webkit-text-fill-color: #0096A4 !important;
}