.THIS {
}
.THIS.socialWelcome{
    text-align : centre !important;
    font-family : lato !important;
    font-size : 18px !important;
    margin-top : 1% !important;
}

.THIS.prechatInfo{
    font-family : lato !important;
    text-align: centre !important;
    font-size: 16px !important;
    margin-left: 12% !important;
    margin-right:12% !important;
}
.THIS .contentLinksDisable{
    outline:none;
    margin-top : 1% !important;
    text-align: centre;
    font-size:14px;
    background-color: grey;
    border-radius: 5px;
    width: 260px;
    height: 31px;
    -webkit-text-fill-color: white;
}

.THIS .contentLinks{
    outline:none;
    margin-top : 1% !important;
    text-align: centre;
    font-size:14px;
    background-color: #0096A4;
    border-radius: 5px;
    width: 260px;
    height: 31px;
    -webkit-text-fill-color: white;
}